# Ignored theme files
assets/js/dist
style.css.map
*.sass-cache*
*.log
bower_components

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Mac
*.DS_Store
thumbs.db
.idea